main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fontWeightBold {
  font-weight: 700;
}

body {
  font-family: "Roboto", "sans-serif";
}

.dNone {
  display: none;
}

@media (max-width: 650px) {
  main {
    flex-direction: column;
  }
}
