main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sectionContent {
  width: calc(100% - 300px);
}

.fontWeightBold {
  font-weight: 700;
}

body {
  font-family: "Roboto", "sans-serif";
}
