header {
  background-color: var(--main-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  height: 50px;
  margin: 16px 0;
}

.headerMenue {
  height: 50px;
  padding: 8px;
  border: 3px solid white;
  border-radius: 8px;
}
